body {
    text-align: center;
    background-image: url(../images/backgroundRPS.jfif);
    background-size: 100%;
}

img {
    height: 150px;
}

.jumbotron {
    padding: 10px;
    background-image: url(../images/jumboBacground.jfif);
    background-size: 100%;
    color: white;
}

.game {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

input {
    margin: 5px;
    text-align: center;
}

.container {
    background-color: black;
    padding: 10px;
}

#chatDisplay {
    background-color: white;
    color: black;
    overflow-y: scroll;
    height: 50px;
    text-align: left;
    margin: 10px;

}

#chat-input {
    height: 30px;
    width: 250px;
    resize: none;
}

.chat-panel {
    display: flex;
    justify-content: space-around;
}

