body {
    text-align: center;
    background-image: url(../images/backgroundRPS.jfif);
    background-size: 100%;
}

img {
    height: 150px;
}

.jumbotron {
    padding: 10px;
}

.game {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}